{% extends "base.twig" %}

{% block content %}
<section class="p-md-top p-md-bottom top-section" style="margin-top: 50px"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center d-none d-sm-block">
                   <div class="parallax"></div>
                </div>
                    
               
            </div>
        </div>
    </section>
    <section class="p-md-top p-md-bottom top-section" style="margin-top: 50px"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-xs-center d-none d-sm-block">
                   {# <div class="parallax"></div> #}
                   {{post.content}}
                </div>
               
            </div>
        </div>
    </section>
<section class="slide-section">

<!-- TESTIMONIALS -->
<section class="testimonials">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{theme.link}}/imgs/images.jpeg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
                  <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
        <h3 class="quotetitle">Amazing</h3>
        <p class="quoteNow">The best service</p>
                    <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
      </div>   
    </div>
    <div class="carousel-item">
      <img src="{{theme.link}}/imgs/images1.jpeg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
                  <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
        <h3 class="quotetitle">Truely Great </h3>
        <p class="quoteNow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis facilisis euismod. Donec ultrices mi orci, eu cursus felis bibendum eu. Pellentesque commodo auctor ornare. Duis consequat sodales nunc eget porta. Pellentesque non fermentum mi, ac congue neque. Quisque viverra augue quam, sed dictum ante volutpat eu. Ut quis arcu ullamcorper, venenatis ex in, pretium risus. Integer fringilla fermentum sapien id consectetur. Mauris sagittis sit amet justo rhoncus eleifend. Aliquam erat volutpat. Sed est nulla, commodo eu semper vitae, 
        porttitor sed tortor. Pellentesque porta vel dolor id egestas.</p>
      </div>   
                  <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
    </div>
    <div class="carousel-item">
      <img src="{{theme.link}}/imgs/images2.jpeg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3 class="quotetitle">Even Better</h3>
                <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
        <p class="quoteNow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis facilisis euismod. Donec ultrices mi orci, eu cursus felis bibendum eu. Pellentesque commodo auctor ornare. Duis consequat sodales nunc eget porta. Pellentesque non fermentum mi, ac congue neque. Quisque viverra augue quam, sed dictum ante volutpat eu. Ut quis arcu ullamcorper, venenatis ex in, pretium risus. Integer fringilla fermentum sapien id consectetur. Mauris sagittis sit amet justo rhoncus eleifend. Aliquam erat volutpat. Sed est nulla, commodo
         eu semper vitae, porttitor sed tortor. Pellentesque porta vel dolor id egestas.</p>
      </div>   
              <img 
            src="{{ directory }}/app/themes/starter-theme/imgs/Quotes.svg" 
            alt=""
            style="position: absolute; top: 0; left: 100px;"
        >
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
    </section>


</section>

{% endblock %}

