
<a 
        href="{{ post.link }}" 
        id="hero" 
        class="{{ post.meta('page_color') }}"
        style="
            background-image: url( {{  post.thumbnail.src }} )!important;
            justify-content: center!important;
            min-height: 40vh!important;
            color:black;
        ">

    <div class="container mb-4">
       <h1 class="quotetitle"> {{ post.title }} </h1>
    </div>
    <div class="container">
       <p class="quotetitle"> {{ post.author.name }} </p>
       <p class="quotetitle"> {{ post.date('j. F Y') }} </p>

    </div>
</a>